#page-client-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-colors TextField {
    width: 100%;
}

@media (max-width: 700px){
    #page-client-profile {
        flex-direction: column;
    }

    .grid-content {
        max-width: 90% !important;
    }
}