.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-styles .grid-upload {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-styles .grid-upload Button,label {
    height: 56px;
}

.colorPicker {
    display: flex;
}